body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
   
  }
  nav{
    float: right;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero section styles */
  .hero {
    background-image: url('2.webp');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: #fff;
  }
  
  .hero-content h1 {
    font-size: 36px;
    margin-bottom: 20px;

  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Features section styles */
  .features {
    background-color: #f4f4f4;
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    flex: 0 0 30%;
  }
  
  .feature h2 {
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  